@import "./../../global_styles/global_vars.scss";

.WeatherAltInfoTemplate {
    max-width: 120px;
    padding: $WEATCHER_INFO_PADDING;
    background-color: $WEATCHER_INFO_BACKROUND;
    border-radius: $WEATCHER_INFO_BORDER_RADIUS;
    font-family: $WEATCHER_INFO_FONT_FAMLY;
    color: $WEATCHER_INFO_COLLOR;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    row-gap: 8px;

    &__head {
        margin: 0;
        font-size: $WEATCHER_INFO_DESC_FONT_SIZE;
        text-transform: uppercase;
        text-align: center;
        flex-shrink: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__content_wrapper {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        gap: 5px;
        flex-direction: row;
        flex-basis: 100%;
        overflow: hidden;
    }

    &__content_main {
        flex-basis: 60%;
        font-size: 1.7rem;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__content_dop {
        width: 100%;
        height: 100%;
        flex-basis: 40%;
        font-size: 0.9rem;
        overflow-wrap: anywhere;
    }
}
