.FormSearch {
    font-family: inherit;
    width: 100%;
    display: flex;

    &__search {
        font-family: inherit;
        min-width: 50px;
        width: 100%;
    }

    &__buttonSubmit {
    }
}
