@charset "UTF-8";
/*
    стили для root и какието новые классы
*/
/*
     резиновый размер шрифта
*/
@keyframes focus_start_anm {
  from {
    outline-offset: 5px; }
  to {
    outline-offset: 0px; } }

*,
*::before,
*::after {
  box-sizing: inherit; }

*:focus {
  outline: black 2px;
  outline-style: auto;
  animation-name: focus_start_anm;
  animation-timing-function: ease-in;
  animation-duration: 0.3s; }

html {
  font-size: calc( 14px + 8 * (( 100vw - 320px ) / 960)); }
  @media screen and (max-width: 320px) {
    html {
      font-size: 14px; } }
  @media screen and (min-width: 1280px) {
    html {
      font-size: 22px; } }

body {
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
  min-width: 280px;
  overflow-x: hidden; }

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.scroll_remove {
  overflow: hidden; }

.Icon {
  width: 35px;
  height: 35px; }

.LightEffect {
  border: 1px #474a6e solid;
  border-bottom: 0;
  box-shadow: 0px 2px 10px black; }
