@import "./../../global_styles/global_vars.scss";

.WeatherAltInfoWnd {
    max-width: 120px;
    text-align: center;
    padding: $WEATCHER_INFO_PADDING;
    background-color: $WEATCHER_INFO_BACKROUND;
    border-radius: $WEATCHER_INFO_BORDER_RADIUS;
    font-family: $WEATCHER_INFO_FONT_FAMLY;
    color: $WEATCHER_INFO_COLLOR;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__desc {
        margin: 0;
        font-size: $WEATCHER_INFO_DESC_FONT_SIZE;
        text-transform: uppercase;
    }

    &__wnd_wrapper {
        margin-top: 8px;
        display: flex;
        justify-content: center;
        gap: 5px;
        align-items: center;
    }

    &__value {
        flex-basis: 40%;
    }
}
