@import "./../../global_styles/global_vars.scss";

.City5d3hWeather {
    width: 100%;
    position: relative;
    flex-grow: 1;
    padding: 10px;

    &__data_wrapper {
        @include is-screen(desctop) {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            flex-wrap: nowrap;
            gap: 40px;
            padding: 10px 0;
            background-color: $WEATCHER_INFO_ALT_NOACTIVE_BACKROUND;
        }
    }

    &__days_list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 1px;
        justify-content: space-between;
        border-radius: $WEATCHER_INFO_BORDER_RADIUS;
        overflow: hidden;

        @include is-screen(desctop) {
            width: 200px;
            gap: 2px;
            flex-direction: initial;
            flex-wrap: wrap;
            flex-grow: 0;
            flex-shrink: 0;
            border-radius: 0;
        }

        .WeatherAltInfoTemplate {
            border-radius: 0;
            flex-grow: 1;
            padding: 2px;
            cursor: pointer;
            user-select: none;
            max-width: 149px;
            flex-basis: 100%;

            @include is-screen(mobile) {
                &:first-of-type {
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }

                &:last-of-type {
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }

            @include is-screen(desctop) {
                max-width: 99px;
                justify-content: center;
            }

            &__head {
                white-space: normal;
            }

            &__content_wrapper {
                display: block;

                @include is-screen(desctop) {
                    flex-basis: auto;
                }
            }

            &__content_main {
                font-size: 1rem;
                text-transform: none;
                display: block;
                text-overflow: ellipsis;
                overflow: hidden;
                text-align: center;
            }
        }
    }

    &__day {
        &--active {
            background-color: $WEATCHER_INFO_ACTIVE_BACKROUND;
            box-shadow: inset 0px 0px 0 1px white;
        }

        &--weekend {
            color: #ff3232;
        }
    }

    &__day_weather {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-evenly;
        gap: 2px;

        @include is-screen(desctop) {
            margin-top: 0;
            justify-content: center;
            width: 100%;
            gap: 5px;
        }
    }

    &__day_time_weather {
        flex-basis: 24%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2px;
        background-color: #00000082;
        color: white;
        min-width: 30px;
        max-width: 220px;
        border-radius: $WEATCHER_INFO_BORDER_RADIUS;
        gap: 0.4rem;
        font-size: 1.1rem;
        overflow: hidden;

        .WeatherIcon {
            align-self: center;
            height: auto;
            width: 3rem;
        }

        @include is-screen(desctop) {
            flex-basis: 22%;
            min-width: 110px;
            border-radius: 0px;
            height: 300px;
            flex-grow: 1;
            padding: 5px;
            align-items: initial;

            .WeatherIcon {
                width: 3.5rem;
            }
        }
    }

    &__day_time_time {
        width: 100%;
        background-color: $WEATCHER_INFO_ACTIVE_BACKROUND;
        box-shadow: 0px -13px 0 15px $WEATCHER_INFO_ACTIVE_BACKROUND;
        border-radius: 2px;
        padding-right: 2px;
        text-align: center;

        @include is-screen(desctop) {
            width: fit-content;
            box-shadow: -6px -6px 0 7px $WEATCHER_INFO_ACTIVE_BACKROUND;
            text-align: initial;
        }
    }

    &__day_time_desc {
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__day_time_wnd {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: space-between;

        .IconDirection {
            height: auto;
            width: 1.5rem;
        }
    }

    &__day_time_hint {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__day_time_temp {
        font-size: 1.1rem;
        text-align: center;

        @include is-screen(desctop) {
            font-size: 1.3rem;
            width: fit-content;
        }
    }

    &__chart_wrapper {
        margin: 60px auto 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        @include is-screen(desctop) {
            background-color: $WEATCHER_INFO_ALT_NOACTIVE_BACKROUND;
            padding: 10px 0;
        }
    }

    &__chart {
        max-height: 300px;
        max-width: 900px;
        width: 100%;
        overflow: hidden;
        background-color: #0000006e;
        padding: 5px;
        border-radius: 3px;

        .recharts-text {
            fill: white;
            font-size: 14px;
        }
    }

    &__chart_type_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px;
        align-self: flex-start;

        .WeatherAltInfoTemplate {
            max-width: initial;
            border-radius: 0;
        }
    }

    &__chart_type_item {
        cursor: pointer;
        user-select: none;
    }

    &__loader_wrapper {
        // position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $BACKDROP_COLLOR;
        backdrop-filter: $BACKDROP_BLUR;
        height: 100vh;
    }

    &__loader {
        position: relative;
        width: 150px;
        height: 150px;
        top: calc(50% - 75px);
        left: calc(50% - 75px);

        .IconLoader__item {
            background-color: #e4e4e4;
        }
    }

    &__default {
        // position: absolute;
        // top: 0;
        // left: 0;
        // right: 0;
        // bottom: 0;
        // backdrop-filter: $BACKDROP_BLUR;
        // background-color: $BACKDROP_COLLOR;

        @include is-screen(mobile) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            backdrop-filter: $BACKDROP_BLUR;
            background-color: $BACKDROP_COLLOR;
        }
    }
}
