.IconDirection {
    display: inline-block;
    position: relative;
    line-height: 0;

    &__icon {
    }

    &__face {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}
