@import "./../../global_styles/global_vars.scss";

.NotCityFind {
    backdrop-filter: $BACKDROP_BLUR;
    background-color: $BACKDROP_COLLOR;
    flex-grow: 1;
    box-shadow: inset 0px -15px 18px -13px black;

    &__default_text {
        text-align: center;
        font-size: 1.38rem;
        color: $WHITE_TEXT;
        text-shadow: 0 0 9px black;
    }

    &__map_wrapper {
        margin: 60px auto 0 auto;
        padding: 10px;
        display: flex;
        width: 100%;

        & > .TwoGisMapLoadOnClick__default {
            @include is-screen(mobile) {
                overflow: hidden;
                border-radius: 5px;
            }
        }

        & > .TwoGisMaps_wrapper {
            width: 100%;

            & > .TwoGisMaps {
                height: 400px;
                width: inherit;

                @include is-screen(mobile) {
                    height: 40vh;
                }
            }

            @include is-screen(mobile) {
                overflow: hidden;
                border-radius: 5px;
            }
        }
    }

    &__map {
        width: 95%;
        height: 45vh;
        margin: 0 auto;
    }
}
