@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.Home {
    &__weather_now {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: flex-start;
        overflow: hidden;
    }

    &__weather_week {
        min-height: 100vh;
        box-shadow: black 0px -3px 20px 0px;
    }

    &--Fon_day_clear {
        background: linear-gradient(20deg, #11e9c1, #0b97ce, #2fc5cd, #518fff);
        background-size: 400% 400%;
        animation: gradient 15s linear infinite;
    }

    .Footer {
        box-shadow: black 0px -3px 20px 0px;
    }
}
