@import "./../../global_styles/global_vars.scss";

@mixin FontAcLineDefs() {
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 0 0 2px black;
    color: white;
    margin: 0;
    text-align: center;
    font-family: "AC Line";
}

.CityCurrentWeather {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    padding: 10px;

    &__head {
        margin-top: 30px;
    }

    &__data_details {
        @include FontAcLineDefs();
        font-size: 20px;
    }

    &__name {
        @include FontAcLineDefs();
        font-size: 40px;
    }

    &__default {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        backdrop-filter: $BACKDROP_BLUR;
        background-color: $BACKDROP_COLLOR;

        &_text {
            text-align: center;
            font-size: 25px;
            color: $WHITE_TEXT;
            text-shadow: 0 0 9px black;
        }
    }

    &__loader_wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $BACKDROP_COLLOR;
        backdrop-filter: $BACKDROP_BLUR;
    }

    &__loader {
        position: relative;
        width: 150px;
        height: 150px;
        top: 100px;
        left: calc(50vw - 75px);

        .IconLoader__item {
            background-color: #e4e4e4;
        }
    }

    &__alt_info {
        margin-top: 40px;
        display: flex;
        gap: 18px;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    }

    &__alt_wind {
        .IconDirection {
            width: 50px;
        }
    }
}
