// .CityCurrentWeather {
//     flex-grow: 1;
//     overflow: hidden;
//     padding: 10px;

//     &__head {
//         font-family: "Bebas Neue";
//         letter-spacing: 2px;
//         background-color: #ffffffa1;
//         width: fit-content;
//         padding: 10px;
//         backdrop-filter: blur(2px);
//         border-radius: 5px;
//         border: 2px #000000 solid;
//     }

//     &__wrapper {
//         display: flex;
//         flex-direction: column;
//         flex-wrap: wrap;
//         padding: 10px 10px 10px 10px;
//         gap: 5px;
//         font-size: 18px;
//         background-color: #ffffffa1;
//         backdrop-filter: blur(2px);
//         border-radius: 5px;
//         border: 2px #000000 solid;
//     }

//     &__wind_direction {
//         width: 30px;
//         height: auto;
//         vertical-align: middle;
//     }
// }

@import "./../../global_styles/global_vars.scss";

.CityCurrentWeather {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    padding: 10px;

    &__head {
        margin-top: 30px;
    }

    &__data_details {
        margin: 0;
        text-align: center;
        font-family: "AC Line";
        font-size: 20px;
        color: $WHITE_TEXT;
        letter-spacing: 3px;
        font-weight: bold;
        text-shadow: 0 0 2px black;
    }

    &__name {
        font-family: "AC Line";
        margin: 0;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        text-shadow: 0 0 2px black;
        color: $WHITE_TEXT;
        letter-spacing: 3px;
    }

    &__default {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        backdrop-filter: $BACKDROP_BLUR;
        background-color: $BACKDROP_COLLOR;

        &_text {
            text-align: center;
            font-size: 25px;
            color: $WHITE_TEXT;
            text-shadow: 0 0 9px black;
        }
    }

    &__loader_wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $BACKDROP_COLLOR;
        backdrop-filter: $BACKDROP_BLUR;
    }

    &__loader {
        position: relative;
        width: 150px;
        height: 150px;
        top: 100px;
        left: calc(50vw - 75px);

        .IconLoader__item {
            background-color: #e4e4e4;
        }
    }
}
