.Header {
    padding: 5px 10px;
    min-height: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    background-color: rgb(77, 77, 77);
    box-shadow: #000000 0px 0px 8px 0px;
    border-bottom: 2px #d9d9d9 solid;
}
