@import "../../global_styles/transitionGroupAnims.scss";
@import "../../global_styles/global_vars.scss";

.HoverHint {
    width: fit-content;
    height: fit-content;
    display: contents;
    cursor: help;

    &__inner_wrapper {
        position: absolute;
    }

    &__hint {
        position: relative;
        background-color: rgb(39, 39, 39);
        box-shadow: 0px -1px 10px 2px white;
        color: white;
        font-size: 1rem;
        padding: 10px;
        border-radius: 5px;

        @include is-screen(desctop) {
            width: max-content;
            max-width: 35dvw;
        }
    }
}

// добавим анимации появления для всплывающих подсказок для не мобильных устроиств
@include is-screen(desctop) {
    @include TransitionGroupAnims-type-1(".HoverHint__hint");
}

.HoverHint__after,
.HoverHint__before {
    position: absolute;
    // left: calc(50% - 5px);
    display: none;
    border: 5px solid transparent;
}

.HoverHint__before--active {
    display: block;
    top: -10px;
    border-bottom: 5px solid #272727;
}

.HoverHint__after--active {
    display: block;
    top: 100%;
    border-top: 5px solid #272727;
}
