.HoverHint {
    width: fit-content;
    height: fit-content;
    display: contents;

    &__hint {
        position: relative;
        background-color: rgb(39, 39, 39);
        color: white;
        font-size: 1rem;
        padding: 10px;
        border-radius: 5px;
    }
}
