.WeatherNowTime {
    &__data_details {
        margin: 0;
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
        color: inherit;
    }
}
