$button_size: 25px;

.CityPosSearch {
    position: relative;
    min-width: 269px;
    width: 269px;

    &__elements_wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5px;
        width: 77.2%;
    }

    &__elements {
        margin: 0 0 0 1px;
        list-style-type: none;
        padding: 5px 0 5px 0;
        background-color: white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    &__element {
        cursor: pointer;
        padding: 2px 5px 2px 5px;
        overflow-wrap: break-word;

        &:nth-child(n + 2) {
            border-top: 1px black solid;
        }

        // если устроиство поддерживает hover (устройство с мышкой)
        @media (hover: hover) {
            &:hover {
                background-color: rgb(187, 187, 187);
            }
        }

        &:active {
            background-color: rgb(170, 170, 170);
        }
    }

    &__cityName {
        font-weight: bold;
    }

    &__loader {
        width: 18px;
        height: 18px;
        z-index: 1;
        position: absolute;
        top: 3px;
        left: 187px;
    }

    &__buttonClose {
        height: $button_size;
        width: $button_size;
    }

    .FormSearch__search {
        padding-right: 25px;
    }
}
