$button_size: 25px;

.CityPosSearch {
    position: relative;
    min-width: 269px;
    width: 269px;

    &__hints_wrapper {
        position: absolute;
        width: 77.2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5px;
    }

    &__hints_elements {
        overflow-wrap: break-word;
        background-color: white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
        width: 100%;
    }

    &__hint_element {
        cursor: default;
        padding: 3px 4px 3px 4px;

        &:nth-child(n + 2) {
            border-top: 1px black solid;
        }

        // если устроиство поддерживает hover (устройство с мышкой)
        @media (hover: hover) {
            &:hover {
                background-color: rgb(187, 187, 187);
            }
        }

        &:active {
            background-color: rgb(170, 170, 170);
        }
    }

    &__cityName {
        font-weight: bold;
    }

    &__loader {
        width: 18px;
        height: 18px;
        z-index: 1;
        position: absolute;
        top: 3px;
        left: 187px;
    }

    &__geo_hints_buttonClose {
        height: $button_size;
        width: $button_size;
    }

    &__history_outer {
        background-color: rgba(0, 0, 0, 0.404);
        position: fixed;
        height: 200vh;
        width: 100%;
        top: 0px;
        left: 0px;
        min-width: 280px;
    }

    .FormSearch__search {
        padding-right: 25px;
    }
}
